<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>School Application</title>
</head>
<body>
  <h1>School information</h1>
  <a href="/teachers">list of Teachers</a><br>
  <a href="/students">list of Students</a><br>
  <a href="/subjects">list of Subjects</a><br>
</body>
</html>